/* .auth-btn-google {
  width: 21vw;
  min-width: 257px !important;
  background-color: #4285f4 !important;
  color: #fffdfd;
} */


.auth-btn-google {
  box-shadow: none!important;
  width: 21vw;
  min-width: 257px!important;
  max-width: 420px;
  margin: -1vh !important;
}

.auth-btn-google:hover {
  background-color: #176ABD !important;
}


/* 
.auth-btn-linkedin {
  width: 21vw;
  min-width: 257px !important;
  margin-top: 1em !important;
  background-color: #2867b2 !important;
} */


.auth-btn-linkedin {
  background-color: #2867b2!important;
  box-shadow: none!important;
  margin-top: 1em!important;
  min-width: 257px!important;
  width: 21vw;
  min-width: 257px !important;
  max-width: 420px;
  margin: -1vh !important;
}

.auth-btn-linkedin:hover {
  background-color: #245ca0 !important;
} 

/* .auth-btn-microsoft {
  width: 21vw;
  min-width: 257px !important;
  margin-top: 1em !important;
  background-color: #f25022 !important
} */




.auth-btn-microsoft {
  background-color: #f25022!important;
  box-shadow: none!important;
  margin-top: 1em!important;
  min-width: 257px!important;
  width: 21vw;
  min-width: 257px !important;
  max-width: 420px;
  margin: -1vh !important;
  margin-bottom: 1vh !important;
}

.auth-btn-microsoft:hover {
  background-color: #d9481e!important;
}