.sign-up-form-container {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  
  .sign-up-text-fields {
    width: 21vw;
    min-width: 257px;
    max-width: 420px;
    height: 75px !important;
  }
  
  /* .sign-up-submit {
    width: 21vw;
    min-width: 257px !important;
    height: 36px;
    margin-top: 1.3em !important;
  } */


  .sign-up-submit {
    height: 36px;
    margin-top: .2vh!important;
    width: 21vw;
    min-width: 257px !important;
    max-width: 420px;
  }
  
  
  .under-login-form-text {
    display: inline-block; 
    width: 100%;
    margin-top: 1.1em;
  }
  